Repository umbraco/Umbraco-CMS, pull requests merged in 2020-10, with the labels that each got.

#8997 Netcore: Migrate more unit tests
  src/Umbraco.Tests.Integration/Views/template1.cshtml
  src/Umbraco.Tests.Integration/Views/template2.cshtml
  src/Umbraco.Tests.Integration/Views/test.cshtml
  src/Umbraco.Tests.UnitTests/TestHelpers/TestHelper.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Manifest/ManifestContentAppTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Manifest/ManifestParserTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.Website/AspNetCoreHostingEnvironmentTests.cs
  src/Umbraco.Tests/IO/FileSystemsTests.cs
  src/Umbraco.Tests/IO/ShadowFileSystemTests.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
  src/Umbraco.Web.Common/AspNetCore/AspNetCoreHostingEnvironment.cs
Labels: project/net-core

#9001 Login screen: Convert a to button
  src/Umbraco.Web.UI.Client/src/less/pages/login.less
  src/Umbraco.Web.UI.Client/src/less/panel.less
  src/Umbraco.Web.UI.Client/src/views/components/application/umb-login.html
Labels: category/accessibility, hacktoberfest/contrib-2020, type/feature

#8994 fixes 8924, Always clear both
  src/Umbraco.Web.UI.Client/src/less/main.less
Labels: state/sprint-candidate

#8974 use block.edit()
  src/Umbraco.Web.UI.Client/src/views/propertyeditors/blocklist/blocklistentryeditors/labelblock/labelblock.editor.html
Labels: state/sprint-candidate

#8843 Review 8839 use icon for plus sign
  src/Umbraco.Web.UI.Client/src/views/common/infiniteeditors/blockpicker/blockpicker.html
  src/Umbraco.Web.UI.Client/src/views/propertyeditors/blocklist/blocklistentryeditors/inlineblock/inlineblock.editor.less
  src/Umbraco.Web.UI.Client/src/views/propertyeditors/blocklist/blocklistentryeditors/labelblock/labelblock.editor.less
  src/Umbraco.Web.UI.Client/src/views/propertyeditors/blocklist/umb-block-list-property-editor.html
  src/Umbraco.Web.UI.Client/src/views/propertyeditors/blocklist/umb-block-list-property-editor.less
Labels: state/sprint-candidate

#9008 NetCore: Fix for Back-Office tours
  src/Umbraco.Web.UI.NetCore/config/BackOfficeTours/getting-started.json
  src/Umbraco.Web.UI/config/BackOfficeTours/getting-started.json
Labels: project/net-core

#9068 NetCore: Migrating Service tests
  src/Umbraco.Core/Scoping/CallContext.cs
  src/Umbraco.Infrastructure/Services/Implement/UserService.cs
  src/Umbraco.Tests.Common/TestHelpers/Entities/MockedUser.cs
  src/Umbraco.Tests.Integration/Services/LocalizationServiceTests.cs
  src/Umbraco.Tests.Integration/Services/MediaServiceTests.cs
  src/Umbraco.Tests.Integration/Services/PublicAccessServiceTests.cs
  src/Umbraco.Tests.Integration/Services/TagServiceTests.cs
  src/Umbraco.Tests.Integration/Services/UserServiceTests.cs
  src/Umbraco.Tests.Integration/TestServerTest/UmbracoTestServerTestBase.cs
  src/Umbraco.Tests.Integration/Testing/UmbracoIntegrationTest.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
  src/Umbraco.Web.Common/Security/BackofficeSecurity.cs
Labels: project/net-core

#8884 Adds icons from App_Plugins/**/Icons/*.svg
  src/Umbraco.Core/Services/IIconService.cs
  src/Umbraco.Web/Services/IconService.cs
Labels: category/dx, community/pr, release/8.8.1, type/feature

#9085 NetCore: Migrate further integration tests
  src/Umbraco.Infrastructure/Runtime/CoreInitialComposer.cs
  src/Umbraco.Tests.Common/Builders/UserGroupBuilder.cs
  src/Umbraco.Tests.Common/TestHelpers/Entities/MockedUser.cs
  src/Umbraco.Tests.Integration/Services/AuditServiceTests.cs
  src/Umbraco.Tests.Integration/Services/ContentServiceEventTests.cs
  src/Umbraco.Tests.Integration/Services/MacroServiceTests.cs
  src/Umbraco.Tests.Integration/Services/SectionServiceTests.cs
  src/Umbraco.Tests.Integration/Services/TagServiceTests.cs
  src/Umbraco.Tests.Integration/Services/UserServiceTests.cs
  src/Umbraco.Tests.Integration/Testing/UmbracoIntegrationTest.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/Editors/UserEditorAuthorizationHelperTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/Services/AmbiguousEventTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Tests.Common/Builders/UserGroupBuilderTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.BackOffice/Controllers/ContentControllerUnitTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.BackOffice/Controllers/MediaControllerUnitTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.BackOffice/Filters/FilterAllowedOutgoingContentAttributeTests.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
  src/Umbraco.Web.Common/UmbracoContext/UmbracoContextFactory.cs
Labels: project/net-core

#9086 NetCore: Migrate tests
  src/Umbraco.Tests.Integration/Packaging/CreatedPackagesRepositoryTests.cs
  src/Umbraco.Tests.Integration/Packaging/Packages/Document_Type_Picker_1.1.umb
  src/Umbraco.Tests.Integration/Services/CachedDataTypeServiceTests.cs
  src/Umbraco.Tests.Integration/Services/ConsentServiceTests.cs
  src/Umbraco.Tests.Integration/Services/ContentServicePublishBranchTests.cs
  src/Umbraco.Tests.Integration/Services/DataTypeServiceTests.cs
  src/Umbraco.Tests.Integration/Services/EntityServiceTests.cs
  src/Umbraco.Tests.Integration/Services/FileServiceTests.cs
  src/Umbraco.Tests.Integration/Services/KeyValueServiceTests.cs
  src/Umbraco.Tests.Integration/Services/MacroServiceTests.cs
  src/Umbraco.Tests.Integration/Testing/IntegrationTestComposer.cs
  src/Umbraco.Tests.Integration/Testing/UmbracoIntegrationTest.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Packaging/PackageExtractionTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Packaging/Packages/Document_Type_Picker_1.1.umb
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Services/ContentTypeServiceExtensionsTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Services/LocalizedTextServiceTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Services/PropertyValidationServiceTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.Common/AngularIntegration/ContentModelSerializationTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.Common/AngularIntegration/JsInitializationTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.Common/AngularIntegration/ServerVariablesParserTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.Common/Macros/MacroParserTests.cs
  src/Umbraco.Tests/Services/FileServiceTests.cs
  src/Umbraco.Tests/Services/PackagingServiceTests.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
Labels: project/net-core

#9102 NetCore: make use of builder classes for model creation in migrated tests
  src/Umbraco.Tests.Common/Builders/BuilderBase.cs
  src/Umbraco.Tests.Common/Builders/ContentBuilder.cs
  src/Umbraco.Tests.Common/Builders/ContentTypeBaseBuilder.cs
  src/Umbraco.Tests.Common/Builders/ContentTypeBuilder.cs
  src/Umbraco.Tests.Common/Builders/Extensions/BuilderExtensions.cs
  src/Umbraco.Tests.Common/Builders/Interfaces/IWithParentContentTypeBuilder.cs
  src/Umbraco.Tests.Common/Builders/Interfaces/IWithSupportsPublishing.cs
  src/Umbraco.Tests.Common/Builders/MediaBuilder.cs
  src/Umbraco.Tests.Common/Builders/MediaTypeBuilder.cs
  src/Umbraco.Tests.Common/Builders/MemberBuilder.cs
  src/Umbraco.Tests.Common/Builders/MemberTypeBuilder.cs
  src/Umbraco.Tests.Common/Builders/PropertyGroupBuilder.cs
  src/Umbraco.Tests.Common/Builders/PropertyTypeBuilder.cs
  src/Umbraco.Tests.Common/Builders/TemplateBuilder.cs
  src/Umbraco.Tests.Common/Builders/UserBuilder.cs
  src/Umbraco.Tests.Common/Builders/UserGroupBuilder.cs
  src/Umbraco.Tests.Common/Extensions/ContentBaseExtensions.cs
  src/Umbraco.Tests.Common/Umbraco.Tests.Common.csproj
  src/Umbraco.Tests.Integration/Mapping/ContentTypeModelMappingTests.cs
  src/Umbraco.Tests.Integration/Persistence/Repositories/EntityRepositoryTest.cs
  src/Umbraco.Tests.Integration/Persistence/Repositories/RedirectUrlRepositoryTests.cs
  src/Umbraco.Tests.Integration/Persistence/Repositories/TemplateRepositoryTest.cs
  src/Umbraco.Tests.Integration/Persistence/Repositories/UserGroupRepositoryTest.cs
  src/Umbraco.Tests.Integration/Persistence/Repositories/UserRepositoryTest.cs
  src/Umbraco.Tests.Integration/Services/ContentServiceEventTests.cs
  src/Umbraco.Tests.Integration/Services/DataTypeServiceTests.cs
  src/Umbraco.Tests.Integration/Services/EntityServiceTests.cs
  src/Umbraco.Tests.Integration/Services/MediaServiceTests.cs
  src/Umbraco.Tests.Integration/Services/PublicAccessServiceTests.cs
  src/Umbraco.Tests.Integration/Services/TagServiceTests.cs
  src/Umbraco.Tests.Integration/Services/UserServiceTests.cs
  src/Umbraco.Tests.Integration/Testing/UmbracoIntegrationTest.cs
  src/Umbraco.Tests.Integration/Umbraco.Web.BackOffice/Filters/ContentModelValidatorTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Services/ContentTypeServiceExtensionsTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/Services/LocalizedTextServiceTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/Services/PropertyValidationServiceTests.cs
  src/Umbraco.Tests/Services/ContentTypeServiceTests.cs
  src/Umbraco.Tests/TestHelpers/Entities/MockedContent.cs
  src/Umbraco.Tests/TestHelpers/Entities/MockedContentTypes.cs
  src/Umbraco.Tests/TestHelpers/Entities/MockedMedia.cs
  src/Umbraco.Tests/TestHelpers/Entities/MockedMember.cs
  src/Umbraco.Tests/TestHelpers/Entities/MockedUserGroup.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
Labels: project/net-core

#9126 Netcore: Migrated Respository Tests
  src/Umbraco.Tests.Common/Builders/ContentBuilder.cs
  src/Umbraco.Tests.Common/Builders/ContentTypeBuilder.cs
  src/Umbraco.Tests.Integration/Implementations/TestHelper.cs
  src/Umbraco.Tests.Integration/Persistence/Repositories/ContentTypeRepositoryTest.cs
  src/Umbraco.Tests.Integration/Persistence/Repositories/DataTypeDefinitionRepositoryTest.cs
  src/Umbraco.Tests.Integration/Persistence/Repositories/DocumentRepositoryTest.cs
  src/Umbraco.Tests/TestHelpers/Entities/MockedContentTypes.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
Labels: project/net-core

#9117 Netcore: migrate relation tests + Introduced new bulksave and fixed issue in save
  src/Umbraco.Core/Models/ReadOnlyRelation.cs
  src/Umbraco.Core/Persistence/Repositories/IRelationRepository.cs
  src/Umbraco.Core/Services/IRelationService.cs
  src/Umbraco.Infrastructure/Compose/RelateOnTrashComponent.cs
  src/Umbraco.Infrastructure/Persistence/Factories/RelationFactory.cs
  src/Umbraco.Infrastructure/Persistence/Repositories/Implement/ContentRepositoryBase.cs
  src/Umbraco.Infrastructure/Persistence/Repositories/Implement/RelationRepository.cs
  src/Umbraco.Infrastructure/Persistence/Repositories/Implement/RelationTypeRepository.cs
  src/Umbraco.Infrastructure/Services/Implement/RelationService.cs
  src/Umbraco.Tests.Common/Builders/MediaBuilder.cs
  src/Umbraco.Tests.Common/Builders/MemberBuilder.cs
  src/Umbraco.Tests.Integration/Persistence/Repositories/RelationRepositoryTest.cs
  src/Umbraco.Tests.Integration/Services/RelationServiceTests.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
Labels: project/net-core

#9150 Netcore: Migrate authorized api controller attributes
  src/Umbraco.Web.BackOffice/Controllers/UmbracoAuthorizedApiController.cs
  src/Umbraco.Web.BackOffice/Filters/UnhandledExceptionLoggerFilter.cs
  src/Umbraco.Web.BackOffice/Filters/UnhandledExceptionLoggerMiddleware.cs
  src/Umbraco.Web.BackOffice/Runtime/BackOfficeComposer.cs
  src/Umbraco.Web.Common/Extensions/UmbracoCoreServiceCollectionExtensions.cs
  src/Umbraco.Web.Common/Filters/UmbracoUserTimeoutFilterAttribute.cs
  src/Umbraco.Web/Umbraco.Web.csproj
  src/Umbraco.Web/WebApi/Filters/UmbracoUserTimeoutFilterAttribute.cs
  src/Umbraco.Web/WebApi/UmbracoAuthorizedApiController.cs
  src/Umbraco.Web/WebApi/UnhandedExceptionLoggerConfigurationAttribute.cs
  src/Umbraco.Web/WebApi/UnhandledExceptionLogger.cs
Labels: project/net-core

#9003 Changed delete button style to danger on member overlay
  src/Umbraco.Web.UI.Client/src/views/member/delete.html
Labels: category/ui, community/pr, hacktoberfest/contrib-2020, release/8.10.0, release/no-notes, type/bug

#9169 Migrated RenderMvcController and RenderIndexActionSelectorAttribute
  src/Umbraco.Tests.Common/Testing/UmbracoTestAttribute.cs
  src/Umbraco.Tests.Integration/Services/ContentServiceEventTests.cs
  src/Umbraco.Tests.Integration/Services/MemberServiceTests.cs
  src/Umbraco.Tests.Integration/Services/MemberTypeServiceTests.cs
  src/Umbraco.Tests.Integration/Testing/UmbracoIntegrationTest.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.Website/Controllers/RenderIndexActionSelectorAttributeTests.cs
  src/Umbraco.Tests/Routing/RenderRouteHandlerTests.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
  src/Umbraco.Tests/Web/Mvc/RenderIndexActionSelectorAttributeTests.cs
  src/Umbraco.Web.BackOffice/Controllers/BackOfficeController.cs
  src/Umbraco.Web.BackOffice/Controllers/ContentController.cs
  src/Umbraco.Web.BackOffice/Controllers/CurrentUserController.cs
  src/Umbraco.Web.Common/Builder/UmbracoBuilderExtensions.cs
  src/Umbraco.Web.Common/Controllers/IRenderController.cs
  src/Umbraco.Web.Common/Controllers/IRenderMvcController.cs
  src/Umbraco.Web.Common/Controllers/RenderController.cs
  src/Umbraco.Web.Common/Controllers/UmbracoController.cs
  src/Umbraco.Web.Common/Filters/EnsurePartialViewMacroViewContextFilterAttribute.cs
  src/Umbraco.Web.Common/Filters/ModelBindingExceptionFilter.cs
  src/Umbraco.Web.Common/Filters/UmbracoAuthorizeAttribute.cs
  src/Umbraco.Web.Common/Filters/UmbracoAuthorizeFilter.cs
  src/Umbraco.Web.Website/Controllers/RenderIndexActionSelectorAttribute.cs
  src/Umbraco.Web.Website/Controllers/RenderMvcController.cs
  src/Umbraco.Web.Website/Controllers/UmbracoAuthorizedController.cs
  src/Umbraco.Web.Website/Umbraco.Web.Website.csproj
  src/Umbraco.Web/Editors/BackOfficeController.cs
  src/Umbraco.Web/Mvc/EnsurePartialViewMacroViewContextFilterAttribute.cs
  src/Umbraco.Web/Mvc/IRenderController.cs
  src/Umbraco.Web/Mvc/IRenderMvcController.cs
  src/Umbraco.Web/Mvc/RenderActionInvoker.cs
  src/Umbraco.Web/Mvc/RenderIndexActionSelectorAttribute.cs
  src/Umbraco.Web/Mvc/RenderMvcController.cs
  src/Umbraco.Web/Mvc/UmbracoAuthorizedController.cs
  src/Umbraco.Web/Mvc/UmbracoController.cs
  src/Umbraco.Web/Runtime/WebInitialComponent.cs
  src/Umbraco.Web/Runtime/WebInitialComposer.cs
  src/Umbraco.Web/Umbraco.Web.csproj
Labels: project/net-core

#8637 Move unit tests
  src/Umbraco.Tests.Common/TestHelpers/MockedValueEditors.cs
  src/Umbraco.Tests.Integration/Logging/LogviewerTests.cs
  src/Umbraco.Tests.Integration/Logging/UmbracoTraceLog.UNITTEST.20181112.json
  src/Umbraco.Tests.Integration/Logging/logviewer.searches.config.js
  src/Umbraco.Tests.Integration/Umbraco.Tests.Integration.csproj
  src/Umbraco.Tests.UnitTests/Umbraco.Core/CoreXml/NavigableNavigatorTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/Macros/MacroParserTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/Manifest/ManifestContentAppTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/Manifest/ManifestParserTests.cs
  src/Umbraco.Tests/Publishing/PublishingStrategyTests.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
Labels: project/net-core

#9211 NetCore: migrated further unit tests
  src/Umbraco.Infrastructure/Services/Implement/PropertyValidationService.cs
  src/Umbraco.Tests.Common/Builders/ContentBuilder.cs
  src/Umbraco.Tests.Common/Builders/ContentTypeBuilder.cs
  src/Umbraco.Tests.Common/Builders/PropertyBuilder.cs
  src/Umbraco.Tests.Common/Builders/PropertyGroupBuilder.cs
  src/Umbraco.Tests.Integration/Mapping/ContentTypeModelMappingTests.cs
  src/Umbraco.Tests.Integration/Persistence/Repositories/ContentTypeRepositoryTest.cs
  src/Umbraco.Tests.Integration/Services/ContentTypeServiceTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/ContentScheduleTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/ContentTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/ContentTypeTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/CultureImpactTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/DeepCloneHelperTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/DictionaryItemTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/DictionaryTranslationTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/DocumentEntityTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/LanguageTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/MacroTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/MemberGroupTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/MemberTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/PropertyGroupTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/PropertyTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/PropertyTypeTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/RelationTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/RelationTypeTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/StylesheetTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/TemplateTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/UserExtensionsTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/UserTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/VariationTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/Media/ImageSharpImageUrlGeneratorTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/Models/DataTypeTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/Models/PathValidationTests.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
Labels: project/net-core

#8859 V8: stabilize cypress tests and add content with contentpicker test
  src/Umbraco.Tests.AcceptanceTest/cypress/integration/Content/content.ts
  src/Umbraco.Tests.AcceptanceTest/cypress/integration/Members/members.js
  src/Umbraco.Tests.AcceptanceTest/cypress/integration/Settings/templates.ts
  src/Umbraco.Tests.AcceptanceTest/cypress/integration/Tour/backofficeTour.ts
  src/Umbraco.Tests.AcceptanceTest/package.json
Labels: category/acceptance-tests

#8860 Add javascript acceptance tests
  src/Umbraco.Tests.AcceptanceTest/cypress/integration/Settings/scripts.ts
Labels: category/acceptance-tests

#9227 Netcore: Migrate rendering related unit tests
  src/Umbraco.Tests.UnitTests/Umbraco.Web.Common/ModelBinders/ContentModelBinderTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.Common/ModelBinders/RenderModelBinderTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.Common/Views/UmbracoViewPageTests.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
  src/Umbraco.Tests/Web/Mvc/RenderModelBinderTests.cs
  src/Umbraco.Tests/Web/Mvc/UmbracoViewPageTests.cs
  src/Umbraco.Web.Common/AspNetCore/UmbracoViewPage.cs
  src/Umbraco.Web.Common/ModelBinders/ContentModelBinder.cs
Labels: project/net-core

#9046 UX: Auto exit PreviewMode, If Preview Mode is active user should Confirm to stay.
  src/Umbraco.Core/Constants-Web.cs
  src/Umbraco.Web.UI.Client/gulp/config.js
  src/Umbraco.Web.UI.Client/src/preview/preview.controller.js
  src/Umbraco.Web.UI.Client/src/websitepreview/websitepreview.js
  src/Umbraco.Web.UI/Umbraco/Views/Preview/Index.cshtml
  src/Umbraco.Web.UI/Umbraco/config/lang/da.xml
  src/Umbraco.Web.UI/Umbraco/config/lang/en.xml
  src/Umbraco.Web.UI/Umbraco/config/lang/en_us.xml
  src/Umbraco.Web.UI/config/umbracoSettings.config
  src/Umbraco.Web/Editors/PreviewController.cs
Labels: category/ux, release/8.10.0

#9239 9238: Fixed invalid multi url picker label
  src/Umbraco.Web.UI.Client/src/views/propertyeditors/multiurlpicker/multiurlpicker.html
Labels: hacktoberfest/contrib-2020, release/8.10.0

#9137 Non-published content indexed in ExternalIndex
  src/Umbraco.Examine/ContentIndexPopulator.cs
  src/Umbraco.Examine/IUmbracoContentIndex.cs
  src/Umbraco.Examine/IndexPopulator.cs
  src/Umbraco.Examine/UmbracoContentIndex.cs
Labels: type/bug

#9245 Netcore: Ensure unit tests are runnable on linux
  src/Umbraco.Core/Configuration/Models/ImagingCacheSettings.cs
  src/Umbraco.Core/Configuration/Models/ModelsBuilderSettings.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/CoreXml/RenamedRootNavigatorTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Packaging/PackageExtractionTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/HealthChecks/HealthCheckResultsTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Tests.Common/Builders/StylesheetBuilderTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.Common/FileNameTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.Common/Macros/MacroParserTests.cs
Labels: project/net-core

#9250 updates CSS selector to match latest
  src/Umbraco.Web.UI.Client/src/less/components/umb-nested-content.less
Labels: state/sprint-candidate

#9251 Netcore: Cleanup + Compose of controllers
  src/Umbraco.Infrastructure/Compose/AuditEventsComponent.cs
  src/Umbraco.Infrastructure/Compose/AuditEventsComposer.cs
  src/Umbraco.Tests/Runtimes/StandaloneTests.cs
  src/Umbraco.Tests/Services/PerformanceTests.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
  src/Umbraco.Web.BackOffice/Controllers/BackOfficeController.cs
  src/Umbraco.Web.BackOffice/Extensions/CompositionExtensions.cs
  src/Umbraco.Web.BackOffice/Extensions/UmbracoBuilderExtensions.cs
  src/Umbraco.Web.BackOffice/Runtime/BackOfficeComposer.cs
  src/Umbraco.Web.Common/Extensions/CompositionExtensions.cs
  src/Umbraco.Web.Common/ModelBinders/ContentModelBinder.cs
  src/Umbraco.Web.UI.NetCore/Startup.cs
  src/Umbraco.Web.Website/Extensions/CompositionExtensions.cs
  src/Umbraco.Web.Website/Extensions/UmbracoBuilderExtensions.cs
  src/Umbraco.Web.Website/Extensions/UmbracoWebstiteServiceCollectionExtensions.cs
  src/Umbraco.Web.Website/Runtime/WebsiteComposer.cs
  src/Umbraco.Web/Composing/CompositionExtensions/Controllers.cs
  src/Umbraco.Web/Composing/Current.cs
  src/Umbraco.Web/CompositionExtensions.cs
  src/Umbraco.Web/Logging/WebProfiler.cs
  src/Umbraco.Web/Logging/WebProfilerComponent.cs
  src/Umbraco.Web/Logging/WebProfilerComposer.cs
  src/Umbraco.Web/Logging/WebProfilerProvider.cs
  src/Umbraco.Web/Macros/MacroRenderer.cs
  src/Umbraco.Web/Macros/PartialViewMacroController.cs
  src/Umbraco.Web/Macros/PartialViewMacroEngine.cs
  src/Umbraco.Web/Mvc/ContainerControllerFactory.cs
  src/Umbraco.Web/Mvc/ContentModelBinder.cs
  src/Umbraco.Web/Mvc/ControllerFactoryExtensions.cs
  src/Umbraco.Web/Mvc/FilteredControllerFactoryCollection.cs
  src/Umbraco.Web/Mvc/FilteredControllerFactoryCollectionBuilder.cs
  src/Umbraco.Web/Mvc/IFilteredControllerFactory.cs
  src/Umbraco.Web/Mvc/MasterControllerFactory.cs
  src/Umbraco.Web/Mvc/ModelBindingException.cs
  src/Umbraco.Web/Mvc/ModelBindingExceptionFilter.cs
  src/Umbraco.Web/Mvc/PreRenderViewActionFilterAttribute.cs
  src/Umbraco.Web/Mvc/RenderControllerFactory.cs
  src/Umbraco.Web/Mvc/UmbracoControllerFactory.cs
  src/Umbraco.Web/Mvc/UmbracoViewPageOfTModel.cs
  src/Umbraco.Web/Runtime/WebInitialComponent.cs
  src/Umbraco.Web/Runtime/WebInitialComposer.cs
  src/Umbraco.Web/Umbraco.Web.csproj
  src/Umbraco.Web/UmbracoApplicationBase.cs
Labels: project/net-core

#9221 Unique node name unit test fix & refactor
  .gitignore
  src/Umbraco.Infrastructure/Persistence/Repositories/Implement/SimilarNodeName.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Persistence/Repositories/SimilarNodeNameTests.cs
Labels: project/net-core

#9252 NetCore: Email message abstraction
  src/Umbraco.Core/Events/SendEmailEventArgs.cs
  src/Umbraco.Core/IEmailSender.cs
  src/Umbraco.Core/Models/EmailMessage.cs
  src/Umbraco.Infrastructure/HealthCheck/NotificationMethods/EmailNotificationMethod.cs
  src/Umbraco.Infrastructure/Services/Implement/NotificationService.cs
  src/Umbraco.Infrastructure/Users/EmailSender.cs
  src/Umbraco.Web.BackOffice/Controllers/AuthenticationController.cs
  src/Umbraco.Web.BackOffice/Controllers/UsersController.cs
  src/Umbraco.Web/Editors/AuthenticationController.cs
Labels: project/net-core

#9002 Fix - user delete shows notifications twice
  src/Umbraco.Web.UI.Client/src/views/users/user.controller.js
Labels: hacktoberfest/contrib-2020

#9240 Update usage guidance for umb-breadcrumbs
  src/Umbraco.Web.UI.Client/src/common/directives/components/editor/umbbreadcrumbs.directive.js
Labels: community/pr, hacktoberfest/contrib-2020, release/8.10.0, release/no-notes

#9269 NetCore: Further unit test migration
  src/Umbraco.Core/Cache/FastDictionaryAppCacheBase.cs
  src/Umbraco.Core/Cache/GenericDictionaryRequestAppCache.cs
  src/Umbraco.Core/Cache/HttpRequestAppCache.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Cache/AppCacheTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Cache/DeepCloneAppCacheTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Cache/DictionaryAppCacheTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Cache/DistributedCache/DistributedCacheTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Cache/HttpRequestAppCacheTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Cache/ObjectAppCacheTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Cache/RuntimeAppCacheTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/IO/AbstractFileSystemTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/IO/PhysicalFileSystemTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/Collections/Item.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/Collections/OrderItem.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/Collections/PropertyCollectionTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/Collections/SimpleOrder.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Models/ContentExtensionsTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Routing/SiteDomainHelperTests.cs
  src/Umbraco.Tests/Cache/HttpRequestAppCacheTests.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
  src/Umbraco.Web/UmbracoApplication.cs
Labels: project/net-core

#9191 Add an override for GetMostRecentRedirectUrl to allow for culture
  src/Umbraco.Core/Persistence/Repositories/IRedirectUrlRepository.cs
  src/Umbraco.Core/Persistence/Repositories/Implement/RedirectUrlRepository.cs
  src/Umbraco.Core/Services/IRedirectUrlService.cs
  src/Umbraco.Core/Services/Implement/RedirectUrlService.cs
  src/Umbraco.Tests/Persistence/Repositories/RedirectUrlRepositoryTests.cs
  src/Umbraco.Tests/Services/RedirectUrlServiceTests.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
  src/Umbraco.Web/Routing/ContentFinderByRedirectUrl.cs
Labels: community/pr, hacktoberfest/contrib-2020, type/bug

#9265 [Issue 5277-145] accessibility - Language drop downs do not advise as drop…
  src/Umbraco.Web.UI.Client/src/views/components/editor/umb-editor-content-header.html
Labels: category/accessibility, hacktoberfest/contrib-2020, type/bug

#9316 Make RTE toolbar sticky
  src/Umbraco.Web.UI.Client/src/less/rte.less
Labels: hacktoberfest/contrib-2020

#9295 Netcore: Health check notifier hosted service
  src/Umbraco.Core/Configuration/Models/DisabledHealthCheckSettings.cs
  src/Umbraco.Core/Configuration/Models/Extensions/HealthCheckSettingsExtensions.cs
  src/Umbraco.Core/Configuration/Models/HealthChecksNotificationMethodSettings.cs
  src/Umbraco.Core/Configuration/Models/HealthChecksNotificationSettings.cs
  src/Umbraco.Core/Configuration/Models/HealthChecksSettings.cs
  src/Umbraco.Core/Configuration/Models/SmtpSettings.cs
  src/Umbraco.Core/Configuration/Models/Validation/ConfigurationValidatorBase.cs
  src/Umbraco.Core/Configuration/Models/Validation/ContentSettingsValidator.cs
  src/Umbraco.Core/Configuration/Models/Validation/HealthChecksSettingsValidator.cs
  src/Umbraco.Core/DateTimeExtensions.cs
  src/Umbraco.Core/HealthCheck/HealthCheck.cs
  src/Umbraco.Core/HealthCheck/INotificationMethod.cs
  src/Umbraco.Core/HealthCheck/INotificationMethodSettings.cs
  src/Umbraco.Core/StringExtensions.cs
  src/Umbraco.Infrastructure/HealthCheck/HealthCheckResults.cs
  src/Umbraco.Infrastructure/HealthCheck/NotificationMethods/EmailNotificationMethod.cs
  src/Umbraco.Infrastructure/HealthCheck/NotificationMethods/IHealthCheckNotificationMethod.cs
  src/Umbraco.Infrastructure/HealthCheck/NotificationMethods/NotificationMethodBase.cs
  src/Umbraco.Infrastructure/HostedServices/HealthCheckNotifier.cs
  src/Umbraco.Infrastructure/HostedServices/RecurringHostedServiceBase.cs
  src/Umbraco.Infrastructure/Runtime/CoreInitialComposer.cs
  src/Umbraco.Infrastructure/Scheduling/SchedulerComponent.cs
  src/Umbraco.Infrastructure/Users/EmailSender.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Configuration/Models/Extensions/HealthCheckSettingsExtensionsTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Configuration/Models/Validation/ContentSettingsValidatorTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Configuration/Models/Validation/HealthChecksSettingsValidatorTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/ShortStringHelper/StringExtensionsTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/HostedServices/HealthCheckNotifierTests.cs
  src/Umbraco.Web.BackOffice/Extensions/UmbracoBuilderExtensions.cs
  src/Umbraco.Web.Common/Builder/UmbracoBuilderExtensions.cs
  src/Umbraco.Web.Common/Extensions/UmbracoCoreServiceCollectionExtensions.cs
Labels: project/net-core
