Repository umbraco/Umbraco-CMS, pull requests merged in 2021-04, with the labels that each got.

#10093 Netcore: Made internals visible to Umbraco Forms assemblies
  src/Umbraco.Core/Umbraco.Core.csproj
  src/Umbraco.Infrastructure/Umbraco.Infrastructure.csproj
Labels: project/net-core

#9920 Fixes #9918 - Update Lightinject to v6.4 due to memory leaks in LightInject.Microsoft.DependecyInjection
  build/NuSpecs/UmbracoCms.Core.nuspec
  src/Umbraco.Core/Umbraco.Core.csproj
  src/Umbraco.Tests/Umbraco.Tests.csproj
  src/Umbraco.Web/Umbraco.Web.csproj
Labels: community/pr, dependencies, release/8.13.0, state/sprint-candidate, type/feature

#9985 Netcore/members signin manager [merge after roles]
  src/Umbraco.Infrastructure/Security/BackOfficeClaimsPrincipalFactory.cs
  src/Umbraco.Infrastructure/Security/ClaimsIdentityExtensions.cs
  src/Umbraco.Infrastructure/Security/MemberUserStore.cs
  src/Umbraco.Infrastructure/Security/UmbracoIdentityRole.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/Security/MemberManagerTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Web.Common/Security/MemberSignInManagerTests.cs
  src/Umbraco.Web.BackOffice/Security/BackOfficeSignInManager.cs
  src/Umbraco.Web.Common/DependencyInjection/ServiceCollectionExtensions.cs
  src/Umbraco.Web.Common/Security/MemberClaimsPrincipalFactory.cs
  src/Umbraco.Web.Common/Security/MemberManager.cs
  src/Umbraco.Web.Common/Security/MemberSignInManager.cs
  src/Umbraco.Web.Common/Security/UmbracoSignInManager.cs
Labels: project/net-core

#10075 Netcore: Migrate macroservice events
  src/Umbraco.Infrastructure/Cache/DistributedCacheBinder_Handlers.cs
  src/Umbraco.Infrastructure/Compose/NotificationsComposer.cs
  src/Umbraco.Infrastructure/Services/Implement/MacroService.cs
  src/Umbraco.Infrastructure/Services/Notifications/MacroDeletedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/MacroDeletingNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/MacroSavedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/MacroSavingNotification.cs
  src/Umbraco.Tests.Integration/Cache/DistributedCacheBinderTests.cs
Labels: project/net-core

#10090 Netcore: Migrate domainservice events
  src/Umbraco.Infrastructure/Cache/DistributedCacheBinder_Handlers.cs
  src/Umbraco.Infrastructure/Compose/NotificationsComposer.cs
  src/Umbraco.Infrastructure/Services/Implement/DomainService.cs
  src/Umbraco.Infrastructure/Services/Notifications/DomainDeletedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/DomainDeletingNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/DomainSavedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/DomainSavingNotification.cs
  src/Umbraco.Tests.Integration/Cache/DistributedCacheBinderTests.cs
Labels: project/net-core

#10089 Netcore: Migrate relationservice events
  src/Umbraco.Core/Events/DeletedNotification.cs
  src/Umbraco.Infrastructure/Cache/DistributedCacheBinder_Handlers.cs
  src/Umbraco.Infrastructure/Compose/NotificationsComposer.cs
  src/Umbraco.Infrastructure/Services/Implement/RelationService.cs
  src/Umbraco.Infrastructure/Services/Notifications/RelationDeletedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/RelationDeletingNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/RelationSavedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/RelationSavingNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/RelationTypeDeletedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/RelationTypeDeletingNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/RelationTypeSavedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/RelationTypeSavingNotification.cs
  src/Umbraco.Tests.Integration/Cache/DistributedCacheBinderTests.cs
Labels: project/net-core, release/netcore-beta001

#9995 Create explicit scope for mappers in UmbracoMapper
  src/Umbraco.Core/Mapping/UmbracoMapper.cs
  src/Umbraco.Tests/Mapping/MappingTests.cs
  src/Umbraco.Tests/Testing/TestingTests/MockTests.cs
Labels: category/performance, release/8.14.0

#10080 Netcore: Migrate fileservice events
  src/Umbraco.Core/Events/CreatedNotification.cs
  src/Umbraco.Core/Events/CreatingNotification.cs
  src/Umbraco.Infrastructure/Cache/DistributedCacheBinder_Handlers.cs
  src/Umbraco.Infrastructure/Compose/NotificationsComposer.cs
  src/Umbraco.Infrastructure/Services/Implement/FileService.cs
  src/Umbraco.Infrastructure/Services/Notifications/PartialViewCreatedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/PartialViewCreatingNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/PartialViewDeletedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/PartialViewDeletingNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/PartialViewSavedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/PartialViewSavingNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/ScriptDeletedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/ScriptDeletingNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/ScriptSavedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/ScriptSavingNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/StylesheetDeletedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/StylesheetDeletingNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/StylesheetSavedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/StylesheetSavingNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/TemplateDeletedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/TemplateDeletingNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/TemplateSavedNotification.cs
  src/Umbraco.Infrastructure/Services/Notifications/TemplateSavingNotification.cs
  src/Umbraco.Tests.Integration/Cache/DistributedCacheBinderTests.cs
  src/Umbraco.Web.Common/ModelsBuilder/DependencyInjection/UmbracoBuilderDependencyInjectionExtensions.cs
  src/Umbraco.Web.Common/ModelsBuilder/ModelsBuilderNotificationHandler.cs
Labels: project/net-core, release/netcore-beta001

#10092 Netcore: Migrate MediaService tree changed notification
  src/Umbraco.Core/Events/TreeChangeNotification.cs
  src/Umbraco.Infrastructure/Cache/DistributedCacheBinder_Handlers.cs
  src/Umbraco.Infrastructure/Compose/NotificationsComposer.cs
  src/Umbraco.Infrastructure/Services/Implement/MediaService.cs
  src/Umbraco.Infrastructure/Services/Notifications/MediaTreeChangeNotification.cs
  src/Umbraco.Web.Common/Mvc/HtmlStringUtilities.cs
Labels: project/net-core, release/netcore-beta001

#9959 Fix dead lock with TypeLoader
  src/Umbraco.Core/Composing/TypeLoader.cs
Labels: project/net-core, type/bug

#10125 NetCore: Types from MB-generated models are not recognized without namespace value
  src/Umbraco.Core/Configuration/Models/ModelsBuilderSettings.cs
  src/Umbraco.Tests.UnitTests/Umbraco.ModelsBuilder.Embedded/BuilderTests.cs
Labels: project/net-core, release/netcore-beta001, type/bug

#10123 Netcore: Only process each cache instruction from DatabaseServerMessenger once.
  src/Umbraco.Core/Services/ICacheInstructionService.cs
  src/Umbraco.Infrastructure/Services/Implement/CacheInstructionService.cs
  src/Umbraco.Infrastructure/Sync/DatabaseServerMessenger.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Services/CacheInstructionServiceTests.cs
Labels: project/net-core, type/bug

#10136 Removed project configuration to expose internals to Forms and made the two used internal dependencies public.
  src/Umbraco.Core/Umbraco.Core.csproj
  src/Umbraco.Infrastructure/Persistence/Mappers/MapperForAttribute.cs
  src/Umbraco.Infrastructure/Umbraco.Infrastructure.csproj
  src/Umbraco.Web.BackOffice/Filters/FileUploadCleanupFilterAttribute.cs
  src/Umbraco.Web.BackOffice/Umbraco.Web.BackOffice.csproj
  src/Umbraco.Web.Common/Umbraco.Web.Common.csproj
  src/Umbraco.Web.Website/Umbraco.Web.Website.csproj
Labels: project/net-core

#10061 RecycleBinSmells caching
  src/Umbraco.Core/Cache/CacheKeys.cs
  src/Umbraco.Core/Persistence/Repositories/IDocumentRepository.cs
  src/Umbraco.Core/Persistence/Repositories/IMediaRepository.cs
  src/Umbraco.Core/Persistence/Repositories/Implement/DocumentRepository.cs
  src/Umbraco.Core/Persistence/Repositories/Implement/MediaRepository.cs
  src/Umbraco.Core/Services/ContentServiceExtensions.cs
  src/Umbraco.Core/Services/IContentService.cs
  src/Umbraco.Core/Services/IMediaService.cs
  src/Umbraco.Core/Services/Implement/ContentService.cs
  src/Umbraco.Core/Services/Implement/MediaService.cs
  src/Umbraco.Tests/Integration/ContentEventsTests.cs
  src/Umbraco.Web/Cache/ContentCacheRefresher.cs
  src/Umbraco.Web/Cache/DistributedCacheBinder_Handlers.cs
  src/Umbraco.Web/Cache/MediaCacheRefresher.cs
  src/Umbraco.Web/Trees/ContentTreeControllerBase.cs
Labels: category/performance, release/8.14.0, type/feature

#10124 Netcore: Migrate ContentService events
  src/Umbraco.Core/Services/Notifications/ContentTreeChangeNotification.cs
  src/Umbraco.Infrastructure/Cache/DistributedCacheBinder_Handlers.cs
  src/Umbraco.Infrastructure/Compose/NotificationsComposer.cs
  src/Umbraco.Infrastructure/Services/Implement/ContentService.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Services/ContentEventsTests.cs
Labels: project/net-core, release/netcore-beta001

#10142 Netcore: Migrate DatabaseSchemaCreation events to notifications
  src/Umbraco.Core/Events/CancelableNotification.cs
  src/Umbraco.Core/Events/DatabaseCreationEventArgs.cs
  src/Umbraco.Infrastructure/Migrations/Events/DatabaseSchemaCreatedNotification.cs
  src/Umbraco.Infrastructure/Migrations/Events/DatabaseSchemaCreatingNotification.cs
  src/Umbraco.Infrastructure/Migrations/Install/DatabaseSchemaCreator.cs
  src/Umbraco.Infrastructure/Migrations/Install/DatabaseSchemaCreatorFactory.cs
  src/Umbraco.Tests.Integration/Testing/BaseTestDatabase.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Migrations/AdvancedMigrationTests.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Persistence/DatabaseBuilderTests.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Persistence/SchemaValidationTest.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Persistence/SqlServerTableByTableTest.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Core/Components/ComponentTests.cs
  src/Umbraco.Tests/TestHelpers/TestHelper.cs
  src/Umbraco.Tests/TestHelpers/TestObjects.cs
  src/Umbraco.Tests/TestHelpers/TestWithDatabaseBase.cs
  src/Umbraco.Tests/Testing/UmbracoTestBase.cs
Labels: project/net-core, release/netcore-beta001

#10138 Member password roll forward
  src/Umbraco.Infrastructure/Security/BackOfficeIdentityBuilder.cs
  src/Umbraco.Infrastructure/Security/MemberPasswordHasher.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Security/MemberPasswordHasherTests.cs
  src/Umbraco.Web.BackOffice/DependencyInjection/UmbracoBuilder.BackOfficeIdentity.cs
  src/Umbraco.Web.Common/DependencyInjection/UmbracoBuilder.MembersIdentity.cs
  src/Umbraco.Web.Common/Security/BackOfficeUserManager.cs
  src/Umbraco.Web.Common/Security/NoopBackOfficeUserPasswordChecker.cs
Labels: project/net-core

#10140 Security stamp implementation for members
  src/Umbraco.Core/Models/Membership/User.cs
  src/Umbraco.Core/Persistence/Repositories/IMemberGroupRepository.cs
  src/Umbraco.Core/Services/IMembershipRoleService.cs
  src/Umbraco.Infrastructure/Migrations/Upgrade/UmbracoPlan.cs
  src/Umbraco.Infrastructure/Migrations/Upgrade/V_9_0_0/ExternalLoginTokenTable.cs
  src/Umbraco.Infrastructure/Migrations/Upgrade/V_9_0_0/MemberTableColumns.cs
  src/Umbraco.Infrastructure/Persistence/Dtos/MemberDto.cs
  src/Umbraco.Infrastructure/Persistence/Factories/ContentBaseFactory.cs
  src/Umbraco.Infrastructure/Persistence/Repositories/IMemberRepository.cs
  src/Umbraco.Infrastructure/Persistence/Repositories/Implement/MemberGroupRepository.cs
  src/Umbraco.Infrastructure/Persistence/Repositories/Implement/MemberRepository.cs
  src/Umbraco.Infrastructure/Persistence/Repositories/Implement/UserRepository.cs
  src/Umbraco.Infrastructure/Security/BackOfficeIdentityUser.cs
  src/Umbraco.Infrastructure/Security/BackOfficeUserStore.cs
  src/Umbraco.Infrastructure/Security/ClaimsIdentityExtensions.cs
  src/Umbraco.Infrastructure/Security/IdentityMapDefinition.cs
  src/Umbraco.Infrastructure/Security/MemberIdentityUser.cs
  src/Umbraco.Infrastructure/Security/MemberUserStore.cs
  src/Umbraco.Infrastructure/Security/UmbracoUserStore.cs
  src/Umbraco.Infrastructure/Services/Implement/MemberService.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Services/MemberGroupServiceTests.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Services/MemberServiceTests.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/Security/MemberUserStoreTests.cs
  src/Umbraco.Web.BackOffice/Security/ConfigureBackOfficeSecurityStampValidatorOptions.cs
  src/Umbraco.Web.Common/DependencyInjection/UmbracoBuilder.MembersIdentity.cs
  src/Umbraco.Web.Common/Security/ConfigureSecurityStampOptions.cs
Labels: project/net-core

#10154 Made two further classes public to provide access for Forms and other packages.
  src/Umbraco.Infrastructure/Persistence/Querying/SqlTranslator.cs
  src/Umbraco.Web.BackOffice/Extensions/ModelStateExtensions.cs
Labels: project/net-core

#10156 Netcore: Fix cache macros per member and make render macro async
  src/Umbraco.Core/Macros/IMacroRenderer.cs
  src/Umbraco.Core/Security/IMemberUserKeyProvider.cs
  src/Umbraco.Core/Templates/IUmbracoComponentRenderer.cs
  src/Umbraco.Core/Templates/UmbracoComponentRenderer.cs
  src/Umbraco.Infrastructure/PropertyEditors/ValueConverters/RteMacroRenderingValueConverter.cs
  src/Umbraco.Tests.AcceptanceTest/cypress/integration/Settings/templates.ts
  src/Umbraco.Web.BackOffice/Controllers/MacroRenderingController.cs
  src/Umbraco.Web.Common/DependencyInjection/UmbracoBuilderExtensions.cs
  src/Umbraco.Web.Common/Macros/MacroRenderer.cs
  src/Umbraco.Web.Common/Macros/MemberUserKeyProvider.cs
  src/Umbraco.Web.Common/UmbracoHelper.cs
  src/Umbraco.Web.UI.Client/src/common/services/macro.service.js
  src/Umbraco.Web.UI.Client/test/unit/common/services/macro-service.spec.js
  src/Umbraco.Web.UI.NetCore/Views/Partials/grid/editors/macro.cshtml
  src/Umbraco.Web/Macros/MemberUserKeyProvider.cs
  src/Umbraco.Web/Umbraco.Web.csproj
  src/Umbraco.Web/UmbracoHelper.cs
Labels: project/net-core, release/netcore-beta001

#9326 use v8 branch as default for API Docs
  src/ApiDocs/docfx.json
Labels: hacktoberfest/contrib-2020

#10172 Stop allocating arrays for every scope lock
  src/Umbraco.Infrastructure/Extensions/ScopeExtensions.cs
  src/Umbraco.Infrastructure/Scoping/IScope.cs
  src/Umbraco.Infrastructure/Scoping/Scope.cs
  src/Umbraco.Infrastructure/Services/Implement/ContentTypeService.cs
  src/Umbraco.Infrastructure/Services/Implement/ContentTypeServiceBaseOfTRepositoryTItemTService.cs
Labels: category/performance, project/net-core

#10175 Ensure we don't issue a write lock on member login
  src/Umbraco.Infrastructure/Security/MemberUserStore.cs
Labels: project/net-core

#10178 Added additional addresses and attachments to core's email sending service.
  src/Umbraco.Core/Models/EmailMessage.cs
  src/Umbraco.Core/Models/EmailMessageAttachment.cs
  src/Umbraco.Infrastructure/EmailSender.cs
  src/Umbraco.Infrastructure/Extensions/EmailMessageExtensions.cs
  src/Umbraco.Tests.UnitTests/Umbraco.Infrastructure/Extensions/EmailMessageExtensionsTests.cs
Labels: project/net-core

#9859 Reduce cold boot times by loading content and media only once on cold boot
  src/Umbraco.Core/Sync/DatabaseServerMessenger.cs
  src/Umbraco.Core/Sync/ISyncBootStateAccessor.cs
  src/Umbraco.Core/Sync/NonRuntimeLevelBootStateAccessor.cs
  src/Umbraco.Core/Sync/SyncBootState.cs
  src/Umbraco.Core/Umbraco.Core.csproj
  src/Umbraco.Tests/PublishedContent/NuCacheChildrenTests.cs
  src/Umbraco.Tests/PublishedContent/NuCacheTests.cs
  src/Umbraco.Tests/Scoping/ScopedNuCacheTests.cs
  src/Umbraco.Tests/Services/ContentTypeServiceVariantsTests.cs
  src/Umbraco.Tests/TestHelpers/TestSyncBootStateAccessor.cs
  src/Umbraco.Tests/Umbraco.Tests.csproj
  src/Umbraco.Web/Compose/DatabaseServerRegistrarAndMessengerComponent.cs
  src/Umbraco.Web/PublishedCache/NuCache/NuCacheComposer.cs
  src/Umbraco.Web/PublishedCache/NuCache/PublishedSnapshotService.cs
Labels: category/performance, community/review, type/bug

#10180 Fix check authorization policies on nested tree requests
  src/Umbraco.Web.BackOffice/Extensions/ControllerContextExtensions.cs
  src/Umbraco.Web.BackOffice/Trees/ApplicationTreeController.cs
  src/Umbraco.Web.Common/Authorization/FeatureAuthorizeRequirement.cs
Labels: project/net-core, release/netcore-beta001

#10148 Netcore: Add Umbraco.Code as private asset
  src/Umbraco.Core/Models/Mapping/UserMapDefinition.cs
  src/Umbraco.Core/Umbraco.Core.csproj
  src/Umbraco.Examine.Lucene/Umbraco.Examine.Lucene.csproj
  src/Umbraco.Infrastructure/Umbraco.Infrastructure.csproj
  src/Umbraco.Persistence.SqlCe/Umbraco.Persistence.SqlCe.csproj
  src/Umbraco.PublishedCache.NuCache/Umbraco.PublishedCache.NuCache.csproj
  src/Umbraco.Web.BackOffice/Umbraco.Web.BackOffice.csproj
  src/Umbraco.Web.Common/Umbraco.Web.Common.csproj
  src/Umbraco.Web.UI.NetCore/Umbraco.Web.UI.NetCore.csproj
  src/Umbraco.Web.Website/Umbraco.Web.Website.csproj
Labels: project/net-core, release/netcore-beta001

#9958 Allows for structured logging with the IProfilingLogger
  src/Umbraco.Core/Logging/DisposableTimer.cs
  src/Umbraco.Core/Logging/IProfilingLogger.cs
  src/Umbraco.Core/Logging/ProfilingLogger.cs
Labels: project/net-core, release/netcore-beta001

#9876 Remove a bunch of template related, unreferenced methods
  src/Umbraco.Core/Persistence/Repositories/ITemplateRepository.cs
  src/Umbraco.Core/Services/IFileService.cs
  src/Umbraco.Infrastructure/Persistence/Repositories/Implement/TemplateRepository.cs
  src/Umbraco.Infrastructure/Services/Implement/FileService.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Persistence/Repositories/TemplateRepositoryTest.cs
Labels: project/net-core, release/netcore-beta001

#9878 Remove a bunch of script related, unreferenced methods
  src/Umbraco.Core/Persistence/Repositories/IScriptRepository.cs
  src/Umbraco.Core/Services/IFileService.cs
  src/Umbraco.Infrastructure/Persistence/Repositories/Implement/FileRepository.cs
  src/Umbraco.Infrastructure/Persistence/Repositories/Implement/ScriptRepository.cs
  src/Umbraco.Infrastructure/Services/Implement/FileService.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Persistence/Repositories/ScriptRepositoryTest.cs
Labels: project/net-core, release/netcore-beta001

#9879 Remove a bunch of partial views related, unreferenced methods
  src/Umbraco.Core/Persistence/Repositories/IPartialViewRepository.cs
  src/Umbraco.Core/Services/IFileService.cs
  src/Umbraco.Infrastructure/Persistence/Repositories/Implement/PartialViewMacroRepository.cs
  src/Umbraco.Infrastructure/Persistence/Repositories/Implement/PartialViewRepository.cs
  src/Umbraco.Infrastructure/Services/Implement/FileService.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Persistence/Repositories/PartialViewRepositoryTests.cs
Labels: project/net-core, release/netcore-beta001

#9875 Remove a bunch of stylesheet related, unreferenced methods
  src/Umbraco.Core/Persistence/Repositories/IStylesheetRepository.cs
  src/Umbraco.Core/Services/IFileService.cs
  src/Umbraco.Infrastructure/Persistence/Repositories/Implement/StylesheetRepository.cs
  src/Umbraco.Infrastructure/Services/Implement/FileService.cs
  src/Umbraco.Tests.Integration/Umbraco.Infrastructure/Persistence/Repositories/StylesheetRepositoryTest.cs
Labels: project/net-core, release/netcore-beta001

#10203 Made a couple of internal classes public that Deploy has a dependency on.
  src/Umbraco.Infrastructure/Persistence/Dtos/DictionaryDto.cs
  src/Umbraco.Infrastructure/Persistence/Dtos/LanguageTextDto.cs
  src/Umbraco.Infrastructure/Suspendable.cs
Labels: project/net-core
